.navbar {
    padding: 0.8rem 1.5rem 0.8rem 1rem !important;
    max-width: var(--maxw);
    margin: 1.5rem auto !important;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link,
.dark .navbar-light .navbar-brand {
    color: #ccc;
}

.dark .navbar {
    background-color: var(--color0);
}

.dark .navbar-light .navbar-nav .nav-link:focus,
.dark .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.user-icon {
    background-image: url("../../assets/img/user-icon.svg");
}

.more-icon {
    background-image: url("../../assets/img/more-icon.svg");
    margin-right: 1rem;
}

.search-icon {
    background-image: url("../../assets/img/search-icon.svg");
    border: none;
    background-color: var(--color4);
}

.search-input {
    background-color: var(--color5);
    border: none;
    color: #ddd;
    padding-left: 1.5rem;
    padding-right: 3.5rem;
    margin-right: -2.3rem !important;
}

.search-input:focus {
    background-color: var(--color4);
    border: none;
    color: #333;
}

.search-input::placeholder {
    color: #ddd;
}

@media (min-width: 576px) {
    .form-inline .form-control {
        max-width: 30vw;
    }
}